* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: aquamarine;
    height: 10rem;
}

footer {
    margin-top: auto;
}

/* Optional */

main {
    /*margin: 0 auto;*/
    /* or: align-self: center*/
    align-self: center;
    max-width: 80ch;
    background-color: antiquewhite;
}