/* HEADER */

.desktop {
    display: none;
}

.mobile {
    padding: 2em 0;
}

.mobile ul {
    display: flex;
    justify-content: space-around;
}

.mobile img {
    width: 4.5em;
}

.button-cta {
    background-color: #9dc20b;
    color: #fff;
    font-size: 2rem;
}

/* BANNER */

.banner {
    background-image: url(../images/banner-landingpage.jpg);
    background-position: right;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* height: 45vh; */
}

.header {
    color: #fff;
    padding: 16em 0;
    text-align: center;
}

.header h1,
.header h2 {
    font-size: 5rem;
}


/* FEATURES SECTION */

.feature {
    text-align: center;
    line-height: 1.3;
    font-size: 18px;
}

.feature-section {
    background-color: lightgray;
}

.image-container img {
    /* width: 100%; */
    /* height: 35vh; */
    padding: 4em 2em;
}

.content h2,
.content h3 {
    /* margin-bottom: 2em; */
}

/* COMPONENTS */

.button {
    padding: 1em 2em;
    border-radius: 4px;
}