* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header,
footer {
    background-color: aqua;
    height: 10rem;
}

/* Optional */

main {
    margin: 0 auto;
    max-width: 80ch;
}